<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo</title>
</head>
<body>
    <h1>Todo 추가</h1>

    <form action="/todos" method="post">
        <input type="text" name="title">
        <button type="submit">저장</button>
    </form>

    <a href="/">목록으로</a>

</body>
</html>